<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <footer class="bg-dark text-white pt-4">
        <div class="container">
          <div class="row justify-content-center text-center">
            
            <div class="col-md-6 mb-4">
              <h5>Sobre Nosotros</h5>
              <p>
                Explora los impresionantes lugares turísticos de Colombia, donde la cultura y la naturaleza se unen para crear experiencias inolvidables. 
              </p>
            </div>
            
            <div class="col-md-6 mb-4">
              <h5>Contáctanos</h5>
              <ul class="list-unstyled">
                <li><i class="fas fa-map-marker-alt"></i> Calle Falsa 123, Ciudad, País</li>
                <li><i class="fas fa-phone"></i> +123 456 7890</li>
                <li><i class="fas fa-envelope"></i> correo@ejemplo.com</li>
              </ul>
            </div>
          </div>
          
          <hr class="bg-white">
          
          <div class="text-center py-3">
            &copy; 2024 Mi Empresa. Todos los derechos reservados.
          </div>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>